{% extends "index.html" %}
{% block encabezado %}
    {% include "encabezado.html" %}
{%endblock %}
{% block menu %}
    {% include "menu.html" %}
{%endblock %}
{% block contenido %}
    <h1 class="text-center mt-3" style="font-family: 'Alkatra', cursive;">SISTEMA DE FUNDACION DIVINO NIÑO</h1>
    <h1 class="text-center mt-3" style="font-family: 'Alkatra', cursive;">-----Bienvenidos a Nuestra Fundación-----</h1>
{%endblock %}
{% block piePagina %}
    {% include "piePagina.html" %}
{%endblock %}