{% extends "index.html" %}
{% block encabezado %}
    {% include "encabezado.html" %}
{%endblock %}
{% block menu %}
    {% include "menu.html" %}
{%endblock %}
{% block contenido %}
    <h1 class="text-center mt-3" style="font-family: 'Alkatra', cursive; color:rgb(146, 25, 25);">SISTEMA DE FUNDACIÓN DIVINO NIÑO</h1>
    <h1 class="text-center mt-3" style="font-family: 'Alkatra', cursive; color:rgb(146, 25, 25);">-----Bienvenidos a Nuestra Fundación-----</h1>
{%endblock %}
{% block piePagina %}
    {% include "piePagina.html" %}
{%endblock %}