{% extends "index.html" %}
{% block encabezado %}
{% include "encabezado.html" %}
{%endblock %}
{% block menu %}
{% include "menu.html" %}
{%endblock %}
{% block contenido %}
<h1 class="text-center" style="font-family: 'Alkatra', cursive; color:rgb(146, 25, 25);">PRECIADOS RECUERDOS</h1>
<div class="row" style="margin-top: 5Opx; margin-left: 20%;">
    <div class="col-sm-4">
        <div class="card w-70 text-center">
            <div class="card-header text-center fw-bold">Video #01</div>
            <div class="card-body"><video src="../media/videos/1.MP4" style="width: 100%;height: 150px;"></video>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card w-70 text-center">
            <div class="card-header text-center fw-bold">Video #02</div>
            <div class="card-body"><video src="../media/videos/2.MP4" style="width: 100%;height: 150px;"></video></div>
        </div>
    </div>
</div>

{%endblock %}
{% block piePagina %}
{% include "piePagina.html" %}
{%endblock %}